* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:focus {
        outline: 1px dashed rgb(226, 226, 226);
    }
}

html {
    font-size: 10px;
    font-family: $ff-sans;
}

body {
    font-size: 1.6rem;
}

main {
    overflow: hidden;
}

h1,
h2,
h3,
h4 {
    font-family: $ff-serif;
    font-weight: bold;
}

img {
    width: 100%;
    height: auto;
}

label {
    cursor: pointer;
}

button {
    cursor: pointer;
}

picture img {
    display: block;
}