@font-face {
    font-family: "Manrope";
    font-weight: bold;
    src: url(../fonts/Manrope/Manrope-Bold.ttf);
}

@font-face {
    font-family: "Manrope";
    font-weight: normal;
    src: url(../fonts/Manrope/Manrope-Regular.ttf);
}

@font-face {
    font-family: "Roboto Slab";
    font-weight: bold;
    src: url('../fonts/Roboto Slab/RobotoSlab-Bold.ttf');
}

@font-face {
    font-family: "Roboto Slab";
    font-weight: normal;
    src: url('../fonts/Roboto Slab/RobotoSlab-Regular.ttf');
}


