$container-padding: 5rem;
$container-padding-mob: 2rem;

$color-primary: #55BC92;
$color-secondary: #1C99F2;
$color-tertiary: #FF6200;
$color-alternative: #F8CC6A;

$color-lighter: #BBD8EA;
$color-light: #868686;
$color-lightest: #FAFCF4;

$color-darker: #012841;
$color-dark: #0B3D5C;
$color-darkest: #000;

$ff-sans: "Manrope", sans-serif;
$ff-serif: 'Roboto Slab', serif;